@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100..900&family=Ubuntu:wght@100..800&display=swap');


  :root {
    --main-color: #005e64;
    --main-dark-color: #373431;
    --background-color: #e6e6dd;
    --complementary-color: #ffffff;
    --gold-color: #daa520;
  }

  body {
    @apply font-sans bg-background m-0 p-0 text-main-dark;
    animation: fade-in 1s ease-in;
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .container {
    @apply mx-8 px-4 md:px-24 lg:px-40; /* Aumenta il padding sui lati */
  }